<app-main-header
  [sectionHeader]="{
    title    :'Technology News',
    slogan   :'',
    btnColor :'blue'}">Loading mainHeader...</app-main-header>
<app-showcase>loading showcase</app-showcase>
<section class="catchySlogan happyClients letsTalk callToAction">
  <div class="container text-center">
    <h2><span>Ready</span> to get started?</h2>
    <p>We will send you the today's special offers<br>We love good deals.</p>
    <button type="button" (click)="letsTalk()" class="btn btn-primary btn-lg letsTalk">LET'S TALK</button>
  </div>
</section>
