<app-main-header
  [sectionHeader]="{
    title    :'SharePoint Intranets & Portals',
    slogan   :'Engage employees. Improve Processes. Drive Collaboration.',
    btnColor :'green'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue">
  <div class="container text-center">
    <h2></h2>
    <p>Our team of highly experienced, certified Microsoft SharePoint professionals have led full scale SharePoint deployments, from large enterprises to small startup businesses and government organizations. With our proven track record in SharePoint solutions, we are committed to delivering our clients cost effective, innovative solutions that transform the way their organizations collaborate.</p>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-7 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/sharepointOnline/SharePoint_Migration.png?v1.0" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>SharePoint Migrations</h3>
        <p>Do you want to migrate your business environment to the cloud or a hybrid environment?  Axen can build your environment in the public cloud, an Office 365 cloud or a hybrid cloud with SharePoint.</p>
      </div>
      <p>We use the best tools of the trade to ensure that you get the cleanest migration possible when you decide to migrate to SharePoint.  Our team of professionals work with you to understand your needs and take full responsibility for this and take the worry off your shoulders.</p>
      <p>Want to get started moving to SharePoint but don’t know where to start?   Set up your free SharePoint assessment today and AXEN will help get everything you need to have a successful migration.</p>
    </div>
    <div class="row">
      <div class="col-md-7 text-right">
        <h3>SharePoint Intranets</h3>
        <p>Let AXEN modernize your SharePoint Intranet and leverage your current investment in Microsoft SharePoint. We can rapidly deploy your site with NO CODE and a RESPONSIVE design for all your mobile devices.  Have compliance needs?  We can help deploy on a secure environment for Healthcare, Financial or Government and ensure your compliance. </p>
      </div>
      <div class="col-md-5 ">
        <a>
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/sharepointOnline/SharePointOnline.png?v1.0" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a>
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/sharepointOnline/planningAndDesignSharepointIntranet.png" alt="">
        </a>
      </div>
      <div class="col-md-7">
        <h3>SharePoint Planning and Design</h3>
        <p>With over 17 years experience with SharePoint, AXEN’s team of professionals will guide you step by step through the objective setting, planning, design and deployment to ensure your site launch goes smoothly and successfully. </p>
        <p>We will make sure that your site is fast, easy to use, packed with features and flexible to configure and customize.</p>
      </div>
    </div>
  </div>
</section>
<app-showcase>loading showcase</app-showcase>
<section id="team" class="pb-5">
  <div class="container">
    <h3></h3>
    <div class="row">
      <div class="col-md-7 ">
        <a>
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/sharepointOnline/AXEN_SharePointProcessOK.png" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>AXEN SharePoint Process</h3>
        <ul class="sales">
          <li>Intranet Architecture <p>Our team will consult with you and review your existing content and discuss your future content needs and then follow SharePoint best practices to develop and build an architecture that delivers the services you need such as ease of use, simple administration, quick onboarding, intelligent forms and workflows, document management, facilitates communications and collaboration, mobility, empowers employees and enterprise search.</p></li>
          <li>Governance<p>Governance is essential to any SharePoint deployment. Governance policies, roles and responsibilities control how your business teams and IT teams work together to manage administer and deploy SharePoint. A good governance plan will increase your ROI in SharePoint, take full advantage of your SharePoint solution and improve the productivity of your organization</p></li>
          <li>Data Migration <p>Our team will collaborate with you to completely scope out your project, build your migration plan and utilize the best migration tools available to complete your project on-time and on-budget!</p></li>
          <li>User Adoption <p>A new intranet will improve employee communication and collaboration and we will help you with gaining user adoption with key features such as News, Events, Directories, Workflows, Forms, end-user training and more!</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<callToAction-section [call]="{title:'Ready to get started?',subTitle:'Set up a SharePoint appointment today!'}">loading call to action section</callToAction-section>
