<app-main-header
  [sectionHeader]="{
    title    :'Office 365 Solutions!',
    slogan   :'Transform your workplace productivity with Office 365!',
    btnColor :'none'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue office365">
  <div class="container text-center">
    <h2>Your Complete Office in The Cloud</h2>
    <p>Staying on top of business and technology trends has become increasingly expensive. However, your competitors will be investing in IT even if you don’t—and that’s something you can’t afford. With our deep understanding of small and mid-sized businesses together with our expertise in cloud technologies, CRM, enterprise infrastructure and collaboration platforms we can design a unique solution based on Microsoft Office 365 that makes technology your competitive advantage.</p>
    <p>You can boost productivity with cloud-based collaboration tools, and work with full versions of Office anytime, anywhere, and on virtually any device. Further benefits include low up-front costs, and the flexibility to add users and services as needed.</p>
    <p>Whether you want to transition to a cloud environment or extend the value of your existing IT investment, we can help you meet your unique business goals.</p>
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <h2>Office 365 will help you:</h2>
  </div>
  <div class="container">
    <div class="row icnlsts">
      <div class="col-md-4">
        <h3>Work with confidence</h3>
        <ul class="iconList slideAnim">
          <li class="accsAnywr">
            <h5>Securely access content from anywhere</h5>
            <p>at any time with multi-factor authentication.</p>
          </li>
          <li class="scrty">
            <h5>Never miss a security update</h5>
            <p>with automatic monthly feature release and security updates.</p>
          </li>
          <li class="logIn">
            <h5>Log in just once</h5>
            <p>with Windows 10 Hello and Office 365</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Work better from anywhere</h3>
        <ul class="iconList slideAnim">
          <li class="files">
            <h5>Access must-have files</h5>
            <p>even when you’re away from the corporate network</p>
          </li>
          <li class="realTime">
            <h5>Work together in real time</h5>
            <p>with HD video, digital white-boards, and content sharing</p>
          </li>
          <li class="track">
            <h5>Keep your team on track</h5>
            <p>with shared conversations, content, plans, and more.</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Work your way</h3>
        <ul class="iconList slideAnim">
          <li class="anywhereDevice">
            <h5>Take your Office anywhere on any device</h5>
            <p>with Office mobile apps across Windows, Android, and iOS</p>
          </li>
          <li class="smartLookup">
            <h5>Smart Lookup</h5>
            <p>uses web insights to help you find  what you’re looking for in your Office docs with one click</p>
          </li>
          <li class="thereDocs">
            <h5>Always there docs</h5>
            <p>means  you can access recently used documents from any device</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-showcase>loading showcase</app-showcase>
<callToAction-section>loading call to action section</callToAction-section>
