<app-main-header
  [sectionHeader]="{
    title:'Digital Transformation',
    slogan:'Helping your business to be more agile and competitive – create and grow faster',
    btnColor:'blue'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan">
  <div class="container text-center">
    <h2>AXEN has the world class expertise and solutions to help your business drive through your own Digital Transformation</h2>
  </div>
</section>

<section class="sub-jumbotron">
  <div class="jumbotron paralax transformation">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-6 txtCtr">
          <div class="card border-light mb-3 col-xs-12 slideAnim">
            <div class="card-body">
              <h3>IT Transformation</h3>
              <p class="card-text">Maximize IT value  through assessments, strategies and roadmaps to streamline IT operations and optimize infrastructure</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 txtCtr">
          <div class="card border-light mb-3 col-xs-12 slideAnim">
            <div class="card-body">
              <h3>Workforce Transformation</h3>
              <p class="card-text">Provide innovative ways to collaborate on with anytime /  anywhere access to applications and data</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <h2><span class="lightblue">Considering working</span> with AXEN?</h2>
    <h4 class="lineOnly">You're in good company</h4>
  </div>
</section>
<section class="blockquotes">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <blockquote class="blockquote slideAnim">
          <p class="mb-3">We have been very impressed by the level of service we receive from AXEN and their commitment to meeting our deadlines. The solutions that they have helped us implement have improved the level of service we offer our clients while complying with our long term technology strategy</p>
          <footer class="blockquote-footer">Unified Communications Manager<br><cite title="Source Title">Alestra</cite></footer>
        </blockquote>
      </div>
        <div class="col-lg-4">
          <blockquote class="blockquote slideAnim">
            <p class="mb-3">AXEN has become a seamless extension of our application development team by taking over application aggregation and maintenance with outstanding results, allowing us to concentrate on our core business.</p>
            <footer class="blockquote-footer">Director of Information Technology<br><cite title="Source Title">Fitch Ratings</cite></footer>
          </blockquote>
        </div>
        <div class="col-lg-4">
          <blockquote class="blockquote slideAnim">
            <p class="mb-3">AXEN helped us optimize a critical part of our supply chain process by providing experts who we could trust, delivering on-time and within budget.</p>
            <footer class="blockquote-footer">Enterprise & Services Devel. Manager<br><cite title="Source Title">Steelscape, Inc.</cite></footer>
          </blockquote>
        </div>
      </div>
  </div>
  <section class="customers_scroll">
    <div class="container">
      <div class="row text-center">
        <div class="scroll-box fiveCols">
          <figure>
            <img src="../../assets/images/customers/Ally.jpg" alt="axen.com customes">
          </figure>
        </div>
        <div class="scroll-box fiveCols">
          <figure>
            <img src="../../assets/images/customers/Johnson_Controls.jpg" alt="axen.com customes">
          </figure>
        </div>
        <div class="scroll-box fiveCols">
          <figure>
            <img src="../../assets/images/customers/McCoys.jpg" alt="axen.com customes">
          </figure>
        </div>
        <div class="scroll-box fiveCols">
          <figure>
            <img src="../../assets/images/customers/pepsico.jpg" alt="axen.com customes">
          </figure>
        </div>
        <div class="scroll-box fiveCols">
          <figure>
            <img src="../../assets/images/customers/SevenEleven.jpg" alt="axen.com customes">
          </figure>
        </div>
      </div>
    </div>
  </section>
</section>
