<app-main-header
  [sectionHeader]="{
    title   :'Azure Cloud Solutions',
    slogan  :'Microsoft Azure Delivers the Speed & Agility You Need to become a Digital Business',
    btnColor:'yellow'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue">
  <div class="container text-center">
    <h2>Powered by the Microsoft cloud!</h2>
    <p>AXEN cloud services help you transition to the new economics of IT. Powered by the Microsoft cloud, you’ll empower your employees, engage your customers, optimize your operations and transforms your products and services.  We can help your business grow and be more innovative with applications that fully exploit the cloud and an infrastructure which will intuitively adapt to your business needs.</p>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-7 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/services/axen_elevate.png?v1.0" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Maximize the Benefits of the Microsoft Cloud with AXEN ELEVATE! – Cloud Servers and Virtualization</h3>
        <p>We will help you understand and choose the right cloud approach (public cloud, private cloud or hybrid solution) with our portfolio of assessments and migration processes.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-right">
        <h3>Azure Cloud Servers – Assess, Modernize and Deploy!</h3>
        <p>Microsoft Azure provides scalable, durable cloud storage, backup and recovery solutions for any data, big and small. It works with the infrastructure you already have and it cost-effectively enhances your business continuity strategy. It also provides the storage required by your cloud applications, including: unstructured text or binary data, such as video, audio and images.</p>
      </div>
      <div class="col-md-7 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/services/cloud_sevices.png?v1.0" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/services/cloud_computing.png?v1.0" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>AXEN ELEVATE! solutions</h3>
        <p>Are designed to make it easier and faster to move the contents of your servers to new hardware in the Cloud and to maximize your existing server(s) as you grow.</p>
        <p>Microsoft Azure is also ideal for companies looking to reduce their IT footprint, or who do not want to invest in on-site servers and infrastructure. It provides servers, storage and networking devices hosted in the Microsoft Cloud, with the ability to increase or reduce resources as your needs fluctuate. You retain control over the application and the resources, but the ‘hardware’ is provided and managed by Microsoft, making it tremendously cost-effective.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="team" class="pb-5">
  <div class="container">
    <h3>AXEN ELEVATE! will help you access speed, provide geo-redundancy while your data is replicated to multiple data centers to ensure maximum availability and minimum downtime.</h3>
    <div class="row">
      <div class="col-md-7 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/services/Azure_Cloud3.svg?v1.0" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Benefits of the Azure Cloud</h3>
        <ul class="sales">
          <li>Reduce costs associated with hosting critical business applications on site</li>
          <li>Improve application speed, performance and security</li>
          <li>Streamline and consolidate all information systems into a single secure solution</li>
          <li>Maintain control and flexibility</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="services ourSolutions">
  <div class="container">
    <h2>Our Solutions</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info slideAnim solutionMobile">
          <div class="card-header">Mobile</div>
          <div class="card-body">
            <p class="card-text">Reach your customers everywhere, on every device, with a single mobile app build</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_e-commerce">
          <div class="card-header">E-commerce</div>
          <div class="card-body">
            <p class="card-text">Give customers what they want with a personalized, scalable, and secure shopping experience</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_bi">
          <div class="card-header bi">Business intelligence</div>
          <div class="card-body">
            <p class="card-text">Drive better, faster decision making by analyzing your data for deeper insights <br><br></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_bigData">
          <div class="card-header">Big data and analytics</div>
          <div class="card-body">
            <p class="card-text">Make the most informed decision possible by analyzing all of the data you need in real time</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_dataWarehouse">
          <div class="card-header">Data warehouse</div>
          <div class="card-body">
            <p class="card-text">Handle exponential data growth without leaving security, scalability, or analytics behind</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_backup">
          <div class="card-header">Backup and archive</div>
          <div class="card-body">
            <p class="card-text">Protect your data and applications no matter where they reside to avoid costly business interruptions</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_development">
          <div class="card-header">Development and test</div>
          <div class="card-body">
            <p class="card-text">Simplify and speed up the process of building and testing applications across every platform</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_disaster">
          <div class="card-header">Disaster recovery</div>
          <div class="card-body">
            <p class="card-text">Protect all your major IT systems while ensuring apps work when you need them most</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim sol_sharepoint">
          <div class="card-header">SharePoint on Azure</div>
          <div class="card-body">
              <p class="card-text">Deploy SharePoint servers rapidly and scale as needed with a cost-effective infrastructure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<callToAction-section [call]="{title:'Ready to get started?',subTitle:'Set up an Azure Cloud Solutions appointment today!'}">loading call to action section</callToAction-section>









<div class="modal fade" id="strategyServicesModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Technology Assessments, Strategies & Roadmaps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Conduct end-to-end assessments of people, process and technology aspects of an organization's technology capabilities including security and risk assessments.  Work with organization's team to develop strategies and roadmaps to meet organizational goals and objectives.</p>
        <ul>
          <li>End-to-End IT Assessment</li>
          <li>IT Operating Model Review</li>
          <li>Disaster Recovery & Business Continuity Readiness Assessment & Planning</li>
          <li>IT Governance, Alignment, and investment decision model</li>
          <li>Technical Cyber Security Risk Assessment</li>
          <li>Cyber Risk Assessment for Compliance and Governance</li>
          <li>Technology Strategies, Planning and Roadmaps</li>
          <li>Path to Innovation</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="defineReqsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Define Requirements & Oversee Implementation for Transformation Realization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Drive out requirements for business transformation and applications to enable organizations including ERP, software selection, oversight and implementation.</p>
        <ul>
          <li>Develop detailed requirements including tools, people, process for roadmap realization</li>
          <li>Conduct ERP readiness assessment and implementation oversight</li>
          <li>Strategic Sourcing and software selection including market review and analysis</li>
          <li>Oversee the Implementation execution</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="optmzInfrtctModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Optimize Infrastructure, Data Centers, Cloud and Sourcing Models</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Review existing technology infrastructure and operations and develop transformation strategies to optimize by leveraging cloud, multiple sourcing models (X as a Service) and disciplined IT Service Management.</p>
        <ul>
          <li>ITIL and IT Service Management</li>
          <li>Data Center Optimization and Migration</li>
          <li>Cloud Transformation</li>
          <li>Application Rationalization</li>
          <li>Strategic Sourcing and Procurement (for X as a Service)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="appDevelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Development and Agile Transformation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Custom development for web and mobile applications using multiple sourcing models including in-source, out-source, near-shore, off-shore, etc.  Work with the organization to determine development methodologies including setting a path for Agile Transformation.</p>
        <ul>
          <li>Custom Development capability and capacity</li>
          <li>Extending development teams as a service using multi-sourcing models</li>
          <li>Agile Transformation, Training, and Coaching</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="executivesCoachesMentorsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fractional / Virtual Executives, Coaches and Mentors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Our vCIO expertise goes beyond your IT network and its impact on your business, our expert vCIO will leverage their years of experience in business processes, analytics, software customization and design to develop the forward looking technology architecture, investment strategies and implementable road maps you need to grow your business.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="researchInnovationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Research, Due Diligence and Innovation Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We help organizations develop innovation strategies to help develop and manage people, knowledge and processes, collaborate, and invest in the delivery of growth through innovation.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
