<app-main-header
  [sectionHeader]="{
    title    :'Strategy Services',
    slogan   :'We build and deliver business outcomes!',
    btnColor :'green'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue">
  <div class="container text-center">
    <h2>It's All About Digital Transformation</h2>
    <p>Our team focuses on areas like cloud, infrastructure and applications transformation, modern software engineering, engagement, and employee productivity.</p>
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <h2>AXEN IT Strategy Services</h2>
    <p>The AXEN team of senior IT executives and architects will help you conduct end-to-end assessments of the people, process and technology aspects of your organization’s operations including a focus on security and risk.  We then work with your organization’s team to develop the strategies and roadmaps to meet your business goals and needs</p>
  </div>
</section>
<section class="services">
  <div class="container strategyServices">
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info slideAnim" data-toggle="modal" data-target="#strategyServicesModal">
          <div class="card-body">
            <p class="card-text">Technology Assessments, Strategies & Roadmaps</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim" data-toggle="modal" data-target="#defineReqsModal">
          <div class="card-body">
            <p class="card-text">Define Requirements & Oversee Implementation for Transformation Realization</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim" data-toggle="modal" data-target="#optmzInfrtctModal">
          <div class="card-body">
            <p class="card-text">Optimize Infrastructure, Data Centers, Cloud and Sourcing Models</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card border-info slideAnim" data-toggle="modal" data-target="#appDevelModal">
          <div class="card-body">
            <p class="card-text">Application Development and Agile Transformation</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim" data-toggle="modal" data-target="#executivesCoachesMentorsModal">
          <div class="card-body">
            <p class="card-text">Fractional / Virtual Executives, Coaches and Mentors</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info slideAnim" data-toggle="modal" data-target="#researchInnovationModal">
          <div class="card-body">
            <p class="card-text">Research, Due Diligence and Innovation Projects</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h2>Meet the team</h2>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="assets/images/team/RussFinney.jpg" alt="Russ Finney"></p>
                  <h4 class="card-title">Russ Finney</h4>
                  <p class="card-text">As a consultant, Russ is generally in a role supporting either the CIO or CEO in achieving specific business and technology outcomes.</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Axen.com | Russ Finney</h4>
                  <p class="card-text">My current major consulting focus areas include:
                    <br>· Facilitating the Building of Strategic Roadmaps
                    <br>· Conducting Assessments using Step-by-Step Workshops
                    <br>· Automating the C-Suite
                    <br>· Implementing ERP and Cloud Applications
                    <br>· Optimizing Data Centers, Infrastructure, & Cloud with Rationalization Frameworks
                    <br>· Driving Out Detailed Business Requirements for RFPs
                    <br>· Developing In-House Innovation Programs
                  </p>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/images/team/MitchellMcGovern.jpg" alt="Mitchell McGovern"></p>
                                    <h4 class="card-title">Mitchell McGovern</h4>
                                    <p class="card-text">Has over 30 years of executive management experience in delivering IT operations, SaaS & cloud business development, managed services, strategic assessments & transformation...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Axen.com | Mitchell McGovern</h4>
                                    <p class="card-text">Mitchell McGovern has over 30 years of executive management experience in delivering IT operations, SaaS & cloud business development, managed services, strategic assessments & transformation implementations and leading large global IT organizations in running technology effectively for some of the world’s leading companies.</p>

                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/mitchellmcgov">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->


        </div>
    </div>
</section>
<!-- Team -->
<div class="modal fade" id="strategyServicesModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Technology Assessments, Strategies & Roadmaps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Conduct end-to-end assessments of people, process and technology aspects of an organization's technology capabilities including security and risk assessments.  Work with organization's team to develop strategies and roadmaps to meet organizational goals and objectives.</p>
        <ul>
          <li>End-to-End IT Assessment</li>
          <li>IT Operating Model Review</li>
          <li>Disaster Recovery & Business Continuity Readiness Assessment & Planning</li>
          <li>IT Governance, Alignment, and investment decision model</li>
          <li>Technical Cyber Security Risk Assessment</li>
          <li>Cyber Risk Assessment for Compliance and Governance</li>
          <li>Technology Strategies, Planning and Roadmaps</li>
          <li>Path to Innovation</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="letsTalk()" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="defineReqsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Define Requirements & Oversee Implementation for Transformation Realization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Drive out requirements for business transformation and applications to enable organizations including ERP, software selection, oversight and implementation.</p>
        <ul>
          <li>Develop detailed requirements including tools, people, process for roadmap realization</li>
          <li>Conduct ERP readiness assessment and implementation oversight</li>
          <li>Strategic Sourcing and software selection including market review and analysis</li>
          <li>Oversee the Implementation execution</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="letsTalk()" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="optmzInfrtctModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Optimize Infrastructure, Data Centers, Cloud and Sourcing Models</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Review existing technology infrastructure and operations and develop transformation strategies to optimize by leveraging cloud, multiple sourcing models (X as a Service) and disciplined IT Service Management.</p>
        <ul>
          <li>ITIL and IT Service Management</li>
          <li>Data Center Optimization and Migration</li>
          <li>Cloud Transformation</li>
          <li>Application Rationalization</li>
          <li>Strategic Sourcing and Procurement (for X as a Service)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="letsTalk()" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="appDevelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Development and Agile Transformation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Custom development for web and mobile applications using multiple sourcing models including in-source, out-source, near-shore, off-shore, etc.  Work with the organization to determine development methodologies including setting a path for Agile Transformation.</p>
        <ul>
          <li>Custom Development capability and capacity</li>
          <li>Extending development teams as a service using multi-sourcing models</li>
          <li>Agile Transformation, Training, and Coaching</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="letsTalk()" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="executivesCoachesMentorsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fractional / Virtual Executives, Coaches and Mentors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Our vCIO expertise goes beyond your IT network and its impact on your business, our expert vCIO will leverage their years of experience in business processes, analytics, software customization and design to develop the forward looking technology architecture, investment strategies and implementable road maps you need to grow your business.</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="letsTalk()" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="researchInnovationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Research, Due Diligence and Innovation Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We help organizations develop innovation strategies to help develop and manage people, knowledge and processes, collaborate, and invest in the delivery of growth through innovation.</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="letsTalk()" class="btn btn-primary">Let's Talk</button>
      </div>
    </div>
  </div>
</div>

<section class="catchySlogan happyClients letsTalk callToAction">
  <div class="container text-center">
    <h2><span>Ready</span> to get started?</h2>
    <p>Apply for a Free Strategy Session Appointment</p>
    <button type="button" (click)="preCallForm.show()" class="btn btn-primary btn-lg letsTalk">APPLY NOW!</button>
  </div>
</section>

<div class="modal fade" id="preCallForm" bsModal #preCallForm="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-primary rounded-0 bg-info text-white text-center">
        <div class="row col-12">
          <h3 class="col-12"><i class="fa fa-cogs"></i> Apply now! <br><span>Free Strategy Session Appointment</span></h3>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="preCallForm.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <p class="text-justify text-primary instructions">Please complete this quick and easy intake form so we can best determine if we're a good fit for each other </p>
          <form>
            <div class="card card-precall">
              <div class="card-body p-3">
                <div class="form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                    </div>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                    </div>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-phone text-info"></i></div>
                    </div>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-sitemap text-info"></i></div>
                    </div>
                    <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                    </div>
                    <textarea class="form-control" placeholder="What are your biggest business challenges which you want to address? " required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="receiveEmail_check" required>
                    <label class="custom-control-label" for="receiveEmail_check">You'll receive an email within two business days of submitting this form about your appointment</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="strategyCall_check" required>
                    <label class="custom-control-label" for="strategyCall_check">Strategy calls should be done from a quiet location with limited distractions</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="sixtyMins_check" required>
                    <label class="custom-control-label" for="sixtyMins_check">Please be prepared for a 60 minute strategy call</label>
                  </div>
                </div>
                <div class="text-center">
                  <input type="submit" value="Submit application" class="btn btn-info btn-block py-2">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
