<app-main-header
  [sectionHeader]="{
    title:'AXEN Value',
    slogan:'AXEN is a 10 year-old Austin, TX based IT consultancy with a nearshore operations center in Monterrey, Mexico.',
    btnColor:'green'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan white whoWeAre">
  <div class="container text-left">
    <p class="lead col-lg-7 slideAnim">Drawing from extensive experience working with fast growing and Fortune 500 companies, we build long term partnerships with our clients as a seamless extension of their IT solution delivery team.
    <br><br>The combination of our service oriented, local management and delivery team and utilizing the skills and additional manpower of over 120 certified consultants located at our nearshore development center, Axen offers you unparalleled value. Over 80% of our staff is certified in one or several Microsoft tools and technologies and for special requirements, we have a multidisciplinary team of senior consultants supporting a wide array of technologies and business needs.</p>
  </div>
</section>
<section class="catchySlogan happyClients">
  <div class="container text-center">
    <h2><span>A Few of Our</span> Happy Clients</h2>
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <section class="customers_scroll">
      <div class="container">
        <div class="row text-center">
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/Steelscape.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/Johnson_Controls.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/McCoys.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/pepsico.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/SevenEleven.jpg" alt="axen.com customes">
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="catchySlogan happyClients">
  <div class="container text-center">
    <h2><span>The Unique Value</span> We Provide to You</h2>
  </div>
</section>
<section class="uniqueValue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="businessFocus"></i>
        <h3>Business Focus, Technology Perspective</h3>
        <p>We pull from over 17 years of experience as an IT service provider partnering with fast growth and fortune 500 companies. Our team of strategic advisors will analyze your business strategy and provide recommendations based on future-ready technology solutions.</p>
      </div>
      <div class="col-md-4">
        <i class="methodology"></i>
        <h3>Transparency and Control through Flexible Methodology</h3>
        <p>Our expertise in development methodologies ranging from Waterfall to Agile enables us to identify how industry best practices may be tailored to best suit your need. We then provide you with important visibility and control throughout the development process by utilizing our custom platform for IT solution delivery process automation.</p>
      </div>
      <div class="col-md-4">
        <i class="nearshore"></i>
        <h3>Local and Nearshore Service Delivery</h3>
        <p>Experience close communication and important face time, while receiving the efficiencies that our Nearshore branch in Mexico offers. Our Nearshore delivery center in Monterrey is composed of over 120 IT consultants with an outstanding employee attrition rate of less than 6%.</p>
      </div>
    </div>
  </div>
</section>
<section class="catchySlogan happyClients">
  <div class="container text-center">
    <h2><span>Our</span> Partners</h2>
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <section class="customers_scroll">
      <div class="container">
        <div class="row text-center">
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/partners/microsoft.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/partners/shi.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/partners/nintex.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/partners/metalogix.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/partners/itmweb.jpg" alt="axen.com customes">
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="microsoftPartnership">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="assets/images/partners/2009-SOA-PartnerofYear.png" alt="">
      </div>
      <div class="col-md-4">
        <img src="assets/images/partners/partnerMicrosoftAxen.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="catchySlogan happyClients letsTalk callToAction">
  <div class="container text-center">
    <h2><span>Ready</span> to get started?</h2>
    <p>It seems like AXEN satisfies all of the criteria you're looking for.<br>We can get started now, or we can schedule a meeting if you want more info / options.</p>
    <button type="button" (click)="letsTalk()" class="btn btn-primary btn-lg letsTalk">LET'S TALK</button>
  </div>
</section>
