<app-main-header
  [sectionHeader]="{
    title    :'Application Development',
    slogan   :'Receive robust, scalable applications to help accomplish your most challenging business goals.',
    btnColor :'yellow'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue">
  <div class="container text-center">
    <h2>When an out-of-the-box solution just doesn’t Meet your needs,</h2>
    <p> business leaders turn to building custom applications to achieve their most challenging business goals. However, many organizations find that the cost and complexity of custom applications can quickly spiral out of control.</p>
  </div>
</section>
<section class="catchySlogan">
  <div class="container text-center">
    <h2 class="appDev">At AXEN, we focus on your business processes and goals </h2>
    <p>and we will professionally, diligently and efficiently manage your application development project to improve your productivity and promote your business growth.</p>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-7 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/appDevelopment/expert.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>AXEN has over 17 years of cross-industry experience </h3>
        <p>Creating and delivering custom applications. Our team of expert developers create robust, scalable solutions tailored to meet and exceed your business needs.  Our agile software development methodology includes you throughout the development process, providing you with important visibility and control.</p>
      </div>
      <div class="col-md-12">
        <p>We use the best tools of the trade to ensure that you get the cleanest migration possible when you decide to migrate to SharePoint.  Our team of professionals work with you to understand your needs and take full responsibility for this and take the worry off your shoulders.</p>
        <p>Want to get started moving to SharePoint but don’t know where to start?   Set up your free SharePoint assessment today and AXEN will help get everything you need to have a successful migration.</p>
      </div>
    </div>
  </div>
</section>
<section class="catchySlogan happyClients services ourSolutions appDevServi">
  <div class="container text-center">
    <h2><span>Application</span> Development Services</h2>
  </div>
  <div class="container">
    <div class="row applicationDevelopmentServices">
      <div class="col-md-3">
        <div class="card border-info appModernization">
          <div class="card-header">Application Modernization </div>
          <div class="card-body">
            <p class="card-text">Transform legacy systems into future ready solutions built on the latest technologies and architectures</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-info slideAnim customeAppDev">
          <div class="card-header">Custom App Development</div>
          <div class="card-body">
            <p class="card-text">Custom applications designed to help you accomplish your business needs and goals</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-info mobileAppDev">
          <div class="card-header bi">Mobile App Development</div>
          <div class="card-body">
            <p class="card-text">Mobile solutions designed to drive sales, strengthen your brand and solve business problems</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-info slideAnim cloudMigrations">
          <div class="card-header">Cloud Migrations</div>
          <div class="card-body">
            <p class="card-text">Migrate your on premise applications to the Microsoft Azure Cloud with confidence</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<callToAction-section [call]="{title:'Need more information?',subTitle:'We\'d love to hear from you'}">loading call to action section</callToAction-section>

<section class="catchySlogan happyClients">
  <div class="container text-center">
    <h2><span>A Few of Our</span> Happy Clients</h2>
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <section class="customers_scroll">
      <div class="container">
        <div class="row text-center">
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/Steelscape.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/Johnson_Controls.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/McCoys.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/pepsico.jpg" alt="axen.com customes">
            </figure>
          </div>
          <div class="scroll-box fiveCols">
            <figure>
              <img src="assets/images/customers/SevenEleven.jpg" alt="axen.com customes">
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
