
<app-main-header
  [sectionHeader]="{
    title    :'Events & Webinars',
    slogan   :'',
    btnColor :'green'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue">
  <div class="container text-center">
    <h2>It's All About Digital Transformation</h2>
    <p>Our team focuses on areas like cloud, infrastructure and applications transformation, modern software engineering, engagement, and employee productivity.</p>
  </div>
</section>
<section class="cards">
  <div class="container">
    <div class="row">
      <div class="eventCard col-md-3">
        <div class="card cta cta--featured">
          <span class="header-line gradient-color-3"></span>
          <div class="card-block">
            <h3 class="card-title no-margin-top">CIO Houston<span class="fa fa-map pull-right"></span></h3>
            <h6 class="card-subtitle text-muted">riveting keynotes, revealing panels, engaging round-tables and unparalleled networking.</h6>
          </div>
          <div class="card-block">
            <p>Thursday, November 8th 2018<br>9:30 AM - 4:30 PM</p>
            <!-- <img class="card-img-top" src="http://www.placehold.it/370x200" alt="Card image cap" /> -->
            <p class="card-text">By Invitation Only.</p>
            <a href="https://www.ciotexas.com/houston/" target="_blank" class="btn btn-lg btn-block btn-primary">Click for details</a>
          </div>
        </div>
      </div>
      <div class="eventCard col-md-3">
        <div class="card cta cta--featured">
          <span class="header-line gradient-color-3"></span>
          <div class="card-block">
            <h3 class="card-title no-margin-top">Conference<span class="fa fa-map pull-right"></span></h3>
            <h6 class="card-subtitle text-muted">Houston Mid-Market CIO Executive Summit</h6>
          </div>
          <div class="card-block">
            <p>Tuesday, December 11th 2018</p>
            <!-- <img class="card-img-top" src="http://www.placehold.it/370x200" alt="Card image cap" /> -->
            <p class="card-text">will bring together our region’s top technology leaders to harness our powerful network and provide...</p>
            <a href="https://10times.com/hmce" target="_blank" class="btn btn-lg btn-block btn-primary">Click for details</a>
          </div>
        </div>
      </div>
      <div class="eventCard col-md-3">
        <div class="card cta cta--featured">
          <span class="header-line gradient-color-3"></span>
          <div class="card-block">
            <h3 class="card-title no-margin-top">Conference<span class="fa fa-map pull-right"></span></h3>
            <h6 class="card-subtitle text-muted">Dallas CIO Executive Summit</h6>
          </div>
          <div class="card-block">
            <p>Wednesday, November 28th 2018</p>
            <!-- <img class="card-img-top" src="http://www.placehold.it/370x200" alt="Card image cap" /> -->
            <p class="card-text">The Dallas CIO Executive Summit aims to share the best practices and develop leadership skills that...</p>
            <a href="https://10times.com/dallas-cio-executive-summit" target="_blank" class="btn btn-primary">Click for details</a>
          </div>
        </div>
      </div>
      <div class="eventCard col-md-3">
        <div class="card cta cta--featured">
          <span class="header-line gradient-color-3"></span>
          <div class="card-block">
            <h3 class="card-title no-margin-top">Government<span class="fa fa-map pull-right"></span></h3>
            <h6 class="card-subtitle text-muted">Texas Digital Government Summit</h6>
          </div>
          <div class="card-block">
            <p>Wednesday, May 30th 2018</p>
            <!-- <img class="card-img-top" src="http://www.placehold.it/370x200" alt="Card image cap" /> -->
            <p class="card-text">Government Technology’s passion is helping spread best practices and spurring innovation in the public sector.</p>
            <a href="http://www.govtech.com/events/Texas-Digital-Government-Summit.html " target="_blank" class="btn btn-primary">Click for details</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<callToAction-section [call]="{title:'Have you an upcoming event?',subTitle:'Share invitation to all Axen community!'}">loading call to action section</callToAction-section>
