<section class="container callToAction">
  <div class="row">
    <div class="contact col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <h2>{{title}}</h2>
            <p>{{subTitle}}</p>
          </div>
          <div class="col-sm-12 col-md-6">
            <button type="button" (click)="letsTalk()" class="btn btn-primary btn-lg btn-block letsTalk">LET'S TALK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
