<footer>
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Address</h5>
        <address>
          <ul class="list-unstyled contact">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 7000 N MoPac Expwy. Plaza 7000, Suite 495 Austin, TX 78759</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> USA +1 (512) 524 6101</li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@axen.pro</li>
          </ul>
        </address>
      </div>
				<div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Links / Resources</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="https://www.microsoft.com/en-us/" target="_blank">Microsoft</a></li>
            <li><a href="https://www.microsoft.com/en-us/education" target="_blank">Microsoft in education</a></li>
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/business" target="_blank">Office 365 for business</a></li>
            <li><a href="https://azure.microsoft.com/en-us/" target="_blank">Microsoft Azure</a></li>
            <li><a href="https://appsource.microsoft.com/en-US/" target="_blank">Microsoft AppSource</a></li>
          </ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a routerLink="/StrategyServices" rel="strategy-services" class="link">Advisory / Strategy Services</a></li>
            <li>Cloud:
              <ul>
                <li><a routerLink="Azure-IaaS">Azure / IaaS</a></li>
                <li><a routerLink="Office365" >Office 365</a></li>
                <li><a routerLink="SharepointOnline">Sharepoint Online</a></li>
              </ul>
            </li>
            <li>Technology Services:
              <ul>
                <li><a routerLink="ApplicationDevelopment">Application Development</a></li>
                <li><a routerLink="ApplicationModernization">Application Modernization</a></li>
                <li><a routerLink="ExtendedTeams">Extended Teams</a></li>
              </ul>
            </li>
            <li><a routerLink="News">News and Updates</a></li>
            <li><a routerLink="AboutUs">About Us</a></li>
          </ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">© 2019 Copyright: <a routerLink="home"><strong> Axen.com </strong></a></div>
    <!--/.Copyright -->
	</footer>
