<app-main-header
  [sectionHeader]="{
    title:'Application Modernization',
    slogan:'Modernize Your Apps! Simplify Your Environment!',
    btnColor:'green'}">Loading mainHeader...</app-main-header>

<section class="catchySlogan blue">
  <div class="container text-center">
    <h2>Increase Performance, Security and Reliability.<br>Reduce Operating Costs and Capital Spending. </h2>
    <br>
    <!-- <h2>Let us re-engineer your legacy application</h2>
    <p>into a service-oriented application that supports your business growth strategies in today’s digital environment!</p> -->
  </div>
</section>
<section class="catchySlogan white">
  <div class="container text-center">
    <h2>Drive business excellence and innovation<br>through app modernization </h2>
  </div>
</section>
<section class="services appModernization">
  <div class="container">
    <div class="row card_container">
      <div class="card border-primary bg-light mx-3 slideAnim">
        <div class="card_content">
          <div class="card-header">Open & Flexible</div>
          <div class="card-body text-primary">
            <figure class="icon_OpenAndFlexible circle">
              <img src="assets/images/FFFFFF-0.png" alt="">
            </figure>
            <div class="card-text">
              <ul>
                <li>You bring your stack, we have the cloud that runs it</li>
                <li>Future proof your apps and scales as needed</li>
                <li>Provides a great balance between productivity and control</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-primary bg-light mx-3 slideAnim">
        <div class="card_content">
          <div class="card-header">Intelligence</div>
          <div class="card-body text-primary">
            <figure class="icon_Intelligence circle">
              <img src="assets/images/FFFFFF-0.png" alt="">
            </figure>
            <div class="card-text">
              <ul>
                <li>Intelligent data services across relational, NoSQL, and big data</li>
                <li>Machine learning and cognitive services for human like intelligence</li>
                <li>Data protection with leading security innovations built in</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-primary bg-light mx-3 slideAnim">
        <div class="card_content">
          <div class="card-header">One Platform</div>
          <div class="card-body text-primary">
            <figure class="icon_OnePlatform circle">
              <img src="assets/images/FFFFFF-0.png" alt="">
            </figure>
            <div class="card-text">
              <ul>
                <li>Build immersive web sites, web apps</li>
                <li>Create outstanding cross platform mobile apps</li>
                <li>Target emerging user touch points such as VR/AR, consoles, BOT and IoT with one platform</li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<section class="catchySlogan whyModernize happyClients">
  <div class="container text-center">
    <h2><span>Why modernize</span> your apps</h2>
    <div class="row mb-5">
      <div class="col businessValue">
        <div class="card-header">New Business Value From Existing Application</div>
      </div>
      <div class="col stayCompetitive">
        <div class="card-header">Stay Competitive. Move forward</div>
      </div>
      <div class="col legacyApps">
        <div class="card-header">The Hardship of Running Legacy Applications Smoothly</div>
      </div>
      <div class="col plataformBusiness">
        <div class="card-header">Getting out of the platform business</div>
      </div>
      <div class="col capacityOnDemand">
        <div class="card-header">Capacity on demand</div>
      </div>
    </div>
    <app-showcase>loading showcase</app-showcase>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-right">
        <h3>At Axen, we focus on your business requirements</h3>
        <p>using our modernization process we can make your application environment more competitive and efficient. We help you address such issues as high operating costs, unacceptable time to market, skills gaps, technological redundancy and more. </p>
      </div>
      <div class="col-md-5 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/services/appModernization.jpg?v1.1" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 ">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0 slideAnim" src="assets/images/services/end2end.png?v1.2" alt="">
        </a>
      </div>
      <div class="col-md-7">
        <h3>AXEN solves complex technology problems</h3>
        <p>Offering scalable and skilled resources at a valued price point. AXEN  has a proven track record of 20+ years delivering real results, providing the right resources, in the right time zone, at the right price point.</p>
      </div>
    </div>

  </div>
</section>
<callToAction-section [call]="{title:'Need more information?',subTitle:'Don’t wait!'}">loading call to action section</callToAction-section>
